.titulo{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 20px;

}

.tabla{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;

    border-collapse: separate;
    border-spacing: 3px;

}
.titular{
    
    color:  #b9c9fe;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 25px;



}

.fondo{
   
    background: linear-gradient(to right, #0099cc, #006699);
  

}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

tr:hover td { background: #d0dafd; color: #339; }

.prin{
   
    size: 50px;
    text-align: center;
    
    
}